
/*导航栏部分*/
/*导航栏背景颜色*/
#aside{
min-width:1000px;
max-width:1200px;
margin:auto;
	width:100%;
	height:80px;
	background:rgba(230, 113, 67);
  }

  #aside>div{
	width:100%;
	height:80px;
	background:rgba(230, 113, 67);
	margin:0 auto;
  }
/*导航栏选犬类择提示*/
  #hint{
	width:970px;
	height:24px;
	background:linear-gradient(to bottom,#f94701 0%,#f46127 50%,#f45f25 100%);
	margin:0 auto;
	border-radius:4px;
	text-align:center;	
	color:#ffffff;
  }
  #bigbox{
	width:1000px;
	height:60px;
	position:relative;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-around;
	margin:0 auto;
	
  }
  #bigbox>#marginbox>div>div.box>a{
    color:#fff;
  }
   #bigbox>#marginbox>div>div.box>a:hover{
    color:#F25618;
  }
   #bigbox>#marginbox>div:hover>div.box{
     border:2px solid #F25618;
   }
  /*选项框*/
	#marginbox{
		width:300px;
		height:50px;
		
	}
 /*选项框*/
	.tobox1,.tobox2,.tobox3,.tobox4,.tobox5{
		width:300px;
		position:absolute;
		top:2px;
		height:50px;
		transition:transform 0.5s;
	}
	.box a{
		display:inline-block;
		width:150px;
		text-align:center;
	}
 /*选项框滑动*/
	#marginbox:hover .tobox2{
		transform:translateZ(-2px);
		transform:translateY(50px);
	}
	#marginbox:hover .tobox3{

		transform:translateZ(-4px);
		transform:translateY(100px);
	}
	#marginbox:hover .tobox4{

		transform:translateZ(-6px);
		transform:translateY(150px);
	}
	#marginbox:hover .tobox5{

		transform:translateZ(-8px);
		transform:translateY(200px);
	}
/*选项框具体样式*/
	.box{
		width:300px;
		height:50px;
		background-color:#464545;
		transition:transform 0.5s;
		border:1px solid #fff;
		border-radius:5px;
		color:#ffffff;
		line-height:50px;
	}
/*末端选项框具体样式*/
	.maxbox{
		width:300px;
		height:50px;
		line-height:45px;
		background-color:#e6e6e6;
		transition:transform 0.5s;
		border:1px solid #fbfdff;
		border-radius:5px;
		color:#f53333;
		text-align:center;
		font-size:22px;
	}
	#marginbox div:hover > .box{	
		transform:scale(1.1);
	}
	#marginbox div:hover .box a{	
		color:#098fef;
	}
 /* 轮播图部分 */
  #frame{
	min-width:1000px;
max-width:1200px;
margin:auto;
	width:100%;

	overflow:hidden;
	border-radius:5px;
	margin:10px auto;
  }
 /*图片格式*/
  #potos{
	z-index:9;
	width:calc(1401px*5);
/*轮播效果*/
  }
  .play{
	animation:ma 20s linear infinite;  
  }
  @keyframes ma{
	0%,25%{
		margin-left:0px;
	}
	30%,50%{
		margin-left:-1600px;
	}
	55%,75%{
		margin-left:-1600px;
	}
	80%,100%{
		margin-left:0px;
	}
  }
/*认证样式*/
.renz{
	display:inline-block;	
	width:211px;
	height:155px;
	background:url("../img/commodity/1.jpg") no-repeat scroll;
}
.er{
	background-position:0 -155px;
}
.san{
	background-position:0 -310px;
}
.si{
	background-position:0 -465px;
}
#renzheng{
	min-width:1000px;
  max-width:1200px;
   margin:auto;
	width:100%;
   display:flex;
   justify-content:space-between;
	margin:10px auto;
	background:linear-gradient(to bottom,#ffffff 0%,#fad9e0 100%);
}
#renzheng a{
	display:inline-block;
	
}

/************商品信息表*********/
/*猜你喜欢*/
#renzheng+div{
	width:236px;
	margin:0 auto;
	position:relative;
	top:29px;
}
#kong{
	width:100%;
	height:26px;
	background:linear-gradient(to bottom,#e2e2e2 0%,#f5f5f5 100%);
}
#money{
	background:#ececec;
}
/*商品摆放位*/
#table>li{
	width:268px;
	padding:4px;
	color:#7b7a7d;
	border:1px solid #d8c9e0;
	margin:2px;
}
#table{
	display:flex;
	flex-flow:row wrap;
	background:#ececec;
}
#bigtable{
	width:1130px;
	margin:0 auto;
}
/*每一个动态插入的li列表样式*/
.title{
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.title a,.storename a{
	color:#7b7a7d;
}
.price{
	color:#f94701;
}
.red{
	color:red;	
}
.orange{
	color:orange;
}
.d{
	margin-top:6px;
}
.d img{
	margin-right:6px;
}
.storename{
	height: 30px;
    line-height: 30px;
    overflow: hidden;
	font-size:14px;
}
/*鼠标获取焦点事件*/
#table>li:hover{
	border:1px solid red;
}
#money+div>:hover{
/*	background:rgba(50,109,192,0.9);*/
	color:#F25618;
}
/*查看所有*/
#money+div{

margin:auto;
	width:100%;

	width:100%;
	height:60px;
	text-align:center;
	background:#ddd;
	box-sizing:border-box;
	border:1px solid #ececec;	
	margin-top:20px;
}
#money+div>a{
	width:200px;
	height:40px;
	display:block;
	border-radius:20px;
	color:#000;
	font-family:"黑体";
	margin:9px auto;
	font-size:25px;
	transition:all 0.5s linear;
	border:2px solid #ea3908;
	line-height:40px;
}

/*末尾图片*/
#over{

margin:auto;
	width:100%;
	background:#142632;
}
#over>img{
width:100%;
	display:block;
	margin:0 auto;
}
