/*头部*/
#header{
  width:100%;
  height:70px;
  position:relative;
  background:rgb(44, 119, 145);
   font-size:24px;
   color:#fff;
}
#header>div.welcome{
  position:absolute;
  left:20px;
  top:20px;
}
#header>div.super_father{
   width:200px;
}
#header>div.super_father>div.super{
   width:200px;
   height:70px;
   position:absolute;
  right:120px;
  top:0px;
  cursor:pointer;
  line-height:70px;
}
#header>div.super_father>ul.super_main{
  position:absolute;
  right:155px;
  top:60px;
  width:200px;
 height:0;
 transition:all .5s linear;
 overflow:hidden;
}
#header>div.super_father>ul.open{
  height:150px;
  z-index:10;
}
#header>div.super_father>ul.super_main>li{
   width:200px;
  height:50px;
  text-align:center;
  background:rgb(44, 119, 145);
}
#header>div.super_father>ul.super_main>li:hover a{
  color:black;
}
#header>div.super_father>ul.super_main>li>a{
  color:#fff;
}
#header>div.sigout{
  position:absolute;
  right:20px;
  top:20px;
}
#header>div.sigout>a{
  cursor:pointer;
}
/*主体部分*/
div.main_body{
  position:relative;
  width:100%;
}
div.main_body>div.list{
margin-top:20px;
  width:10%;
  height:900px;
  background:rgb(44, 119, 145);
  float:left;
}
div.main_body>div.list>div:first-child{
  width:150px;
  height:100px;
  font-size:18px;
  color:#fff;
  line-height:100px;
   box-sizing:border-box;
  padding-left:10px;
}
div.main_body>div.list>div:first-child>a{
  color:#fff;
}
div.main_body>div.list>div:first-child+div{
  width:150px;
  height:50px;
  padding-left:10px;
  box-sizing:border-box;
  line-height:50px;
  
}
div.main_body>div.list>div:first-child+div>a{
font-size:20px;
 color:#fff;
}
/*数据管理,内容管理*/
div.main_body>div.list>div{
  width:100%;
  height:30px;
  font-size:16px;
  color:#fff;
  line-height:30px;
   padding-left:10px;
  box-sizing:border-box;
  cursor:pointer;
  margin-bottom:10px;
}
div.main_body>div.list>div.data+ul{
  margin-bottom:40px;
}
div.main_body>div.list>div+ul{
  width:100%;
  height:200px;
}
div.main_body>div.list>div+ul>li{
  width:100%;
/*  height:160px;*/
   padding-left:10px;
   box-sizing:border-box;
   color:#fff;
   font-size:15px;
   text-align:center;
}
div.main_body>div.list>div+ul>li>span{
  cursor:pointer;
}
div.main_body>div.list>div+ul>li>ul{
  width:100%;
  height:0px;
  transition:all .5s linear;
  overflow:hidden;
}
div.main_body>div.list>div+ul>li>span{
  display:inline-block;
  width:80%;
  height:30px;
}
div.main_body>div.list>div+ul>li>span.open{
text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
box-shadow:rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}
div.main_body>div.list>div+ul>li>span.open+ul{
  height:160px;
}
div.main_body>div.list>div+ul>li>ul>li{
  height:50px;
  line-height:50px;
}
div.main_body>div.list>div+ul>li>ul>li>a{
  color:#000;
  font-size:16px;
}
div.main_body>div.list>div+ul>li>ul>li:hover>a{
  color:#fff;
}
/*右侧显示数据*/
div.main_body>div.datashow{
  width:85%;
  /* height:900px; */
  position:absolute;
  right:0;
  top:40px;
}
div.main_body>div.datashow>div.topdata{
  width:100%;
  /* height:450px; */
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
div.main_body>div.datashow>div.topdata>div{
  width:33%;
  height:100px;
  border-right:2px solid rgb(158, 161, 161);
  margin-top:10px;
}
div.main_body>div.datashow>div.topdata>div>p{
  line-height:30px;
  text-align:center;
  height:30px;

}
div.main_body>div.datashow>div.topdata>div>p:first-child{
  color:rgb(11, 111, 145);

  font-size:13px;
}
div.main_body>div.datashow>div.topdata>div:first-child>p.count{
  color:rgb(11, 111, 145);
  margin-top:5px;
  margin-bottom:5px;
}
div.main_body>div.datashow>div.topdata>div>p.count{
  color:#1ABB9C;
  font-size:40px;
  font-weight:bold;
}
div.main_body>div.datashow>div.topdata>div>p:last-child{
  color:red;
  margin-top:10px;
  font-size:13px;
}
div.main_body>div.datashow>div.bottomdata{
  width:100%;
  height:450px;
  margin-top:40px;
}
div.main_body>div.datashow>div.bottomdata>div{
  font-size:29px;
  height:30px;
  color:rgb(11, 111, 145);
  margin-top:105px;
  line-height:30px;
}