div.main_body{
  position:relative;

}
div.search_body{
width:90%;
 position:absolute;
 right:0;
 top:20px;
}
div.search_body>div.search_top>div.search_input{
  width:600px;
  height:150px;
  float:right;
  margin-top:20px;
}
div.search_body>div.search_top>div.search_input>p{
  width:400px;
  height:40px;
  font-size:20px;
  text-align:center;
  margin-bottom:10px;
}
div.search_body>div.search_top>div.search_input>p>input{
  width:240px;
  height:30px;
  font-size:20px;
  padding-left:10px;
  box-sizing:border-box;
}
div.search_body>div.search_top>div.search_input>p>button{
  width:100px;
  height:40px;
  font-size:20px;
  text-align:center;
  line-height:40px;
}
div.pageList{
  width:300px;
  height:50px;
  font-size:20px;
  margin-left:10px;
   margin-top:20px;
}
div.pageList>select>option{
  font-size:20px;
  width:30px;
}
div.search_body>div.search_top{
  border-bottom:1px solid #ddd;
  height:220px;
}
div.search_list>div.show>div.toptitle{
  width:100%;
  border-bottom:1px solid #ddd;
  height:30px;
  line-height:30px;
}
div.search_list>div.show>div.toptitle>span,div.bottom_show>span{
  display:inline-block;
  font-size:15px;
  height:20px;
  text-align:center;
  color:rgb(5, 97, 128);
}
div.bottom_show>span>a{
  color:rgb(5, 97, 128);

}
div.bottom_show>span.manipulate>a{
  color:rgb(5, 97, 128);
}
ul.pages{
  float:right;
}
ul.pages>li{
  float:left;
  width:40px;
  height:30px;
  border:1px solid #ddd;
  border-radius:5px;
  margin-left:10px;
  text-align:center;
  line-height:30px;
  cursor:pointer;

}
ul.pages>li.active{
  background:rgb(5, 97, 128);
}
